{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-5">Главная страница</h2>


    {% if user.is_authenticated %}
        <h3 class="mb-4">Последние посты</h3>

        {% include 'mainapp/modules/posts.html' %}
    {% else %}

        <div class="jumbotron">
            <h1 class="display-4">Привет!</h1>
            <p class="lead mt-2">Это школьная система оповещения и новостей для школы!<br>Авторизуйся, заполняй свои данные в разделе профиль, переходит по ссылке к боту, и ты готов получать новые новости по школе, твоей параллерли и классу!<br>А так же приглашай друзей!</p>
            <hr class="my-4">
            <p>Вы можете войти в систему через аккаунт вк что бы пользоваться платформой.</p>
            <p class="lead">
                <a href="/user/login/vk-oauth2" class="btn btn-primary btn-lg mt-4">Вход</a>
            </p>
        </div>


    {% endif %}

</div>
{% endblock %}